.awardsbar {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1.5em;
    font-size: 0.8em;
}
.award-icon {
    font-size: 2em;
    text-align: center;
    justify-content: center;
    margin: 0 0.3em;
    transition: 0.2s transform;
}
.award-icon.gold {
    color: #FCC201;
}
.award-icon.silver {
    color: #A7A7AD;
}
.award-icon.bronze {
    color: #cc6633;
}

.award-icon:hover {
    transform: scale(1.1);
}

.accordion h2:after {
    content: '\02795';
    float: right;
}

.accordion.active h2:after {
    content: "\2796";
}

.textblock.panel {
    margin: 0;
}

.panel {
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

table {
    text-align: center;
    width: 60%;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #666666;
}

#title-box {
    margin-top: 4em;
}

@media screen and (max-width:600px) {
    #title {
        font-size: 4.5em;
    }
    table {
        width: 90%;
    }
}

