* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

html {
    background: #ffffff;
    font-family: 'Raleway', sans-serif, monospace;
    font-weight: normal;
    font-size: 16px;
}

body {
    position: relative;
}

.global-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    min-height: 100vh;
}

#title-box {
    margin: 1em;
    max-width: 100vw;
}
#title {
    font-family: 'Playfair Display', serif, monospace;
    font-weight: bold;
    font-size: 6em;
    text-align: center;
    color: #333333;

    max-width: 100%;
}

#subtext {
    position: relative;
    font-size: 1.5em;
    text-align: center;

    color: #666666;
    margin: 0.5em 0 1em 0
}

#socialbar {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    margin: 2em 0;
}

.social-icon {
    font-size: 2.5em;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0.5em;
    -webkit-transition: 0.2s -webkit-transform, 0.1s -webkit-filter;
    transition: 0.2s -webkit-transform, 0.1s -webkit-filter;
    -o-transition: 0.2s transform, 0.1s filter;
    transition: 0.2s transform, 0.1s filter;
    transition: 0.2s transform, 0.1s filter, 0.2s -webkit-transform, 0.1s -webkit-filter;
}
.social-icon:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-filter: brightness(120%);
            filter: brightness(120%);
}

#social-yt {
    color: #FF0000;
}
#social-fb {
    color: #4267B2;
}
#social-tw {
    color: #1DA1F2;
}
#social-ig {
    color: #E1306C;
}
#social-ma {
    color: #E74329;
}

.menu-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;

    margin: 1em 0.5em;
}

.menu-link {
    font-size: 1.5em;
    color: #666666;
    text-align: center;

    margin: 0.2em 1em;
}

.menu-link:hover {
    color: #000000;
}

#sourcecode {
    position: absolute;
    bottom: 0;
    right: 0;
    color: black;
    opacity: 20%;
    font-size: 1.5em;
    padding: 0.5em;
    -webkit-transition: 0.2s opacity;
    -o-transition: 0.2s opacity;
    transition: 0.2s opacity;
}
#sourcecode:hover {
    opacity: 70%;
}
#logocredits {
    position: absolute;
    bottom: 0;
    right: 3em;
    color: black;
    opacity: 30%;
    line-height: 1em;
    padding: 0.8em 0;
}
#logocredits:hover {
    opacity: 70%;
}

.textblock {
    width: 60%;
    margin: 0.5em 0;
    color: #666666;
    font-size: 1.2em;
    line-height: 1.4em;
}

.textblock h2 {
    font-family: 'Playfair Display', serif, monospace;
    font-weight: 500;
    color: #333333;
    line-height: 1.1em;
    margin: 0.5em 0;
}

.textblock a {
    text-decoration: none;
    color: #333333;
    font-weight: 500;
}

.textblock a:hover {
    color: #000000;
}

.textblock b {
    color: #333333;
    font-weight: 500;
}

.textblock table {
    text-align: center;
    width: 60%;
    margin: 1em auto;
    color: #666666;
}

.textblock img {
    display: block;
    width: 500px;
    max-width: 90%;
    margin: 1em auto;
}

.textblock img.img-wide {
    width: 100%;
    max-width: 100%;
}

.accordion {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin: 0.8em 0;
}

.accordion h2 {
    margin: 0;
}

.accordion:after {
    color: #333333;
    content: '\02795';
    float: right;
    text-align: right;
    font-size: 1.1em;
    margin-left: 0.5em;
}

.accordion.active:after {
    content: "\2796";
}

.textblock.panel {
    margin: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.2s ease-out;
    -o-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out;
    max-height: 0;
}

.card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 80%;
    margin: 1em auto;
}

.card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    
    font-weight: 400;
    color: #333333;
    font-size: 1em;

    margin: 0.5em;
    padding: 1em;
    border-style: solid;
    border-width: 2px;
    border-color: #aaaaaa;
    border-radius: 7px;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}
.card:hover {
    border-color: #333333;
    -webkit-box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
.card:active {
    border-color: #aaaaaa;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.card h2 {
    font-weight: 500;
    color: #333333;
    font-size: 1.5em;
    margin: 0.5em 0;
}

@media screen and (max-width:350px) {
    #title {
        font-size: 3.5em !important;
        border: none;
    }
}

@media screen and (max-width:600px) {
    #title-box {
        margin-top: 4em;
        border: none;
    }
    #title {
        font-size: 5em;
        padding: 0;
    }
    #socialbar {
        margin-top: 0;
    }
    .social-icon {
        font-size: 2.2em;
    }
    .menu-links {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin: 0em 0.5em;
    }
    .menu-links:last-of-type {
        margin-bottom: 4em;
    }
    #sourcecode {
        display: none;
    }
    #logocredits {
        right: 0;
        width: 100%;
        text-align: center;
        opacity: 50%;
    }
    .textblock {
        width: 80%;
    }
    .textblock table {
        width: 90%;
    }
    .card-container {
        width: 90%;
    }
}

@media screen and (max-height:800px) {
    #title {
        line-height: 1.2em;
    }
}
