#title-box {
    margin-top: 4em;
}

.card {
    min-width: 200px;
}

.card h2 {
    font-size: 1.2em;
    margin-bottom: 0;
}

.card img {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 10px;
}

@media screen and (max-width:600px) {
    #title-box {
        margin-bottom: 1em;
    }
    #title {
        font-size: 4.5em;
    }
}
