.global-container {
    padding-bottom: 4em;
}

#title-box {
    margin-top: 4em;
}

@media screen and (max-width:600px) {
    #title-box {
        margin-bottom: 1em;
    }
    #title {
        font-size: 4.5em;
    }
}

