#title-box {
    margin-top: 3em;
}

#title {
    word-wrap: break-word;
    -webkit-hyphens: manual;
        -ms-hyphens: manual;
            hyphens: manual;
}

.card-container {
    margin-bottom: 4em;
}

.card {
    width: 120px;
    height: 110px;
}

.card h2 {
    font-size: 1.5em;
}

@media screen and (max-width:600px) {
    #title-box {
        margin-bottom: 1em;
    }
    #title {
        font-size: 4.5em;
    }
}

@media screen and (max-width:375px) {
    .card {
        width: 150px;
        height: 140px;
    }
}
