#title-box {
    margin-top: 3em;
}

#title {
    word-wrap: break-word;
    -webkit-hyphens: manual;
        -ms-hyphens: manual;
            hyphens: manual;
}

.card-container {
    margin: 1em 0 4em 0;
}

.card {
    -ms-flex-preferred-size: 80px;
        flex-basis: 80px;
    height: 40px;

    padding: 3em 2em;
}

@media screen and (max-width:600px) {
    #title-box {
        margin-bottom: 1em;
    }
    #title {
        font-size: 4.5em;
    }
}

@media screen and (max-width:375px) {
    .card {
        -ms-flex-preferred-size: 120px;
            flex-basis: 120px;
        height: 60px;
    }
}
